/* Responsive */
/* nav responsive */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        padding: 0;
        margin-bottom: 30px;
    }
    nav ul li {
        margin-left: 15px;
    }
    nav ul li a {
        font-size: 0.85rem;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        margin-bottom: 40px;
    }
}

/* banner */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 335px;
    }
    .input-items {
        width: 287px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    /* .input {
        width: 100%;
    }
    .selector {
        width: 100%;
    }
    .btn-primary {
        width: 100%; */
    
    .banner-container h1 {
        font-size: 1.75rem;
        padding-top: 20px;
    }
    .banner-container p {
        width: 300px;
        font-size: .87rem;
        line-height: 20px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .input-items {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
}

/* popular */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 335px;
    }
    .popular-section-container {
        flex-direction: column;
    }
    .section-title {
        font-size: 2rem;
    }
    .popular-content > p {
        width: 300px;
    }
    .popular-content ul {
        width: 280px;
    }
    .popular-content .popular-p-2 {
        width: 335px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .popular-section-container {
        width: 660px;
        flex-direction: column;
    }
}

/* destination section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .destination-wrapper-1, 
    .destination-wrapper-2, 
    .destination-wrapper-3 {
        grid-template-columns: 1fr;
    }
    .destination-section-container h2 {
        font-size: 2rem;
    }
    .destination-section-container p {
        width: 336px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .destination-wrapper {
        padding: 0px 15px;
    }
}

/* choose us section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .choose-us {
        margin-top: 230px;
    }
    .choose-us-box-container {
        width: 336px;
        flex-direction: column;
        width: 336px;
    }
    .choose-us-container > p {
        width: 320px;
    } 
    .choose-us-box {
        width: 285px;
    }
    .choose-us-box p {
        width: 290px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .choose-us-box-container {
        flex-direction: column;
    }
    .choose-us-box {
        margin: auto;
    }
}

/* Discount section */
@media screen and (max-width: 600px) {
    .discount-section-wrapper > p {
        width: 320px;
    }
    .discount-banner {
        border-radius: 16px;
    }
    .discount-banner-content {
        width: 228px;
        margin-right: 0;
        margin: auto;
        padding: 28px;
    }
    .discount-banner-2 .discount-banner-content {
        margin-left: 228px;
        margin-left: 0;
        margin: auto;
    }
}

/* place section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .place-section-container {
        flex-direction: column;
    }
    .place-content {
        width: 100%;
    }
    .place-img {
        width: 100%;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .place-section-container {
        flex-direction: column;
    }
    .place-content {
        width: 560px;
        margin: auto;
    }
    .place-img {
        width: 100%;
    }
}

/* Cox Bazar section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .cox-bazar-container {
        flex-direction: column-reverse;
    }
    .cox-bazar-img {
        width: 100%;
    }
    .cox-bazar-content {
        width: 100%;
    }
}
/* lablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .cox-bazar-container {
        flex-direction: column-reverse;
    }
    .cox-bazar-img {
        width: 100%;
    }
    .cox-bazar-content {
        width: 100%;
    }
}


/* Newslater section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .newslater-section-container {
        flex-direction: column;
    }
    .newslater-submition {
        width: 250px;
    }
    .newslater-img {
        width: 336px;
    }
    .curve-div {
        width: 180px;
        bottom: 18%;
        right: 3%;
    }
    .curve-div h2{
        font-size: .75rem;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .newslater-section-container{
        flex-direction: column;
    }
    .newslater-img {
        margin: auto;
    }
    .newslater-submition {
        width: 588px;
        margin: auto;
    }
}

/* footer */
@media screen and (max-width: 600px) {
    .footer-container {
        width: 336px;
    }
    .footer p {
        width: 308px;
    }
    .footer{
        padding: 100px 0px;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
    .footer p {
        width: 477px;
    }
}